<VirtualHost *:443>
 DocumentRoot "{{ apache_document_root }}"
 SSLEngine on
 SSLCertificateFile {{ apache_ssl_cert_path }}
 SSLCertificateKeyFile {{ apache_ssl_key_path }}
  <Directory "{{ apache_document_root }}">
    allow from all
    Options None
    Require all granted
  </Directory>
</VirtualHost>