# Redis configuration file
port {{ cache_redis_port }}
bind {{ cache_redis_bind }}
daemonize yes
pidfile /var/run/redis/redis-server.pid
logfile {{ cache_redis_log_dir }}/redis-server.log
dir {{ cache_redis_data_dir }}