# Redis configuration file
port {{ cache_redis_port }}
bind {{ cache_redis_bind_address }}
dir /var/lib/redis
logfile /var/log/redis/redis-server.log
unixsocket /var/run/redis/redis-server.sock
unixsocketperm 755
# Other default Redis settings would be here