<VirtualHost *:443>
 DocumentRoot "{{ website_root }}"
 SSLEngine on
 SSLCertificateFile {{ ssl_cert_path }}
 SSLCertificateKeyFile {{ ssl_key_path }}
  <Directory "{{ website_root }}">
    allow from all
    Options None
    Require all granted
  </Directory>
</VirtualHost>