# Redis configuration file
port {{ cache_redis_port }}
bind {{ cache_redis_bind }}

# Default settings
dir /var/lib/redis
logfile /var/log/redis/redis-server.log
pidfile /var/run/redis/redis-server.pid