<VirtualHost *:443>
 DocumentRoot "{{ document_root }}"
 SSLEngine on
 SSLCertificateFile {{ ssl_cert_path }}/apache.crt
 SSLCertificateKeyFile {{ ssl_cert_path }}/apache.key
  <Directory "{{ document_root }}">
    allow from all
    Options None
    Require all granted
  </Directory>
</VirtualHost>