# Redis server default configuration for Debian/Ubuntu
# Managed by Ansible

# Redis server configuration file
REDIS_CONFIG="{{ redis_config_file }}"

# Redis server user
REDIS_USER="{{ redis_service_user }}"

# Additional options
REDIS_OPTS=""