# Redis configuration file
port {{ redis_port }}
bind {{ redis_bind_address }}
maxmemory {{ redis_maxmemory }}
dir {{ redis_data_dir }}
logfile {{ redis_logfile }}
pidfile {{ redis_pidfile }}
daemonize yes