# Redis server defaults for Debian/Ubuntu
# Managed by Ansible

# Additional options for redis-server
REDIS_OPTS=""

# User to run redis-server as
REDIS_USER="{{ profile_redis_cluster_service_user }}"

# Configuration file
REDIS_CONF="{{ profile_redis_cluster_config_file }}"